<include file="Public:head"/>
<div id="wrap">
  <include file="Public:top"/>
  <div class="container-fluid mainContainer">
    <div class="row-fluid">
      <include file="Public:sidebar"/>
      <div class="span9">
		<h3>超级首页</h3>
		<p>欢迎您来到超级后台！</p>
		<p>通过超级后台，您可以对系统进行高级操作，比如高级编辑、SQL语句查询、数据库导入导出备份等操作。</p>
		<ul>
			<li>高级编辑: 通过高级编辑，你可以对一个货物进行全局编辑操作。
			<li>SQL查询语句: 通过 SQL 来编辑数据库的信息 (预计 2016 年开始制作)。
			<li>数据库导入导出备份: 数据库的迁移备份等操作 (预计 2016 年开始制作)。
		</ul>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/.fluid-container-->
  <div style="clear:both"></div>
  <div id="push"></div>
</div>
<include file="Public:footer"/>
<include file="Public:javascript"/>