<include file="Public:head"/>
<style>
	select {
		width: auto;
	}
</style>
<div id="wrap">
<include file="Public:top"/>
    <div class="mainContainer container-fluid">
      <div class="row-fluid">
      <include file="Public:sidebar"/>
        <div class="span9">
          <div class="row-fluid">
            <h3>客户信息</h3>
			<form method="post">
				<table class="table table-bordered">
					<tr>
						<th>入库货物
						<td>
								<select name="pkg_id">
									<volist name="table" id="vo">
										<option value="{$vo.pkg_id}">入库编号: {$vo.pkg_id} | 来源编号: {$vo.pkg_orig_number} | 客户编号: {$vo.user_id}</option>
									</volist>
									<option value="">无</option>
								</select>
						</td>
					</tr>
					<tr>
						<th>付款方式
						<td>
							<select name="pkg_payment_way">
								<option value="taobao">淘宝
								<option value="alipay">支付宝
							</select>
						</td>
					</tr>
					<tr>
						<th>支付金额
						<td><input type="text" name="pkg_user_email" class="input-xxlarge" placeholder="请输入金额(RMB)"></input></td>
					</tr>
				</table>
				<input type="hidden" name="pkg_status" value="shipping"/>
				<input type="submit" value=" 提交 "/>
			</form>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/.fluid-container-->
	<div id="push"><!--FOR STICK FOOTER--></div>
</div>
<include file="Public:footer"/>
<include file="Public:javascript"/>