<include file="Public:head"/>
<div id="wrap">
<include file="Public:top"/>
    <div class="mainContainer container-fluid">
      <div class="row-fluid">
      <include file="Public:sidebar"/>
        <div class="span9">
          <div class="row-fluid">
            <h3>入库登记</h3>
            <include file="stockForm"/>
            <include file="stockRecord"/>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/.fluid-container-->
	<div id="push"><!--FOR STICK FOOTER--></div>
</div>
<include file="Public:footer"/>
<include file="Public:javascript"/>
<script type="text/javascript">
/**
* 货物入库登记 (stock)
*/
$("#input_user_id").blur(function() {
	$.getJSON(
		"http://www.tenso-japan.com/tenso/api.php/discuz/getMember/" + $("#input_user_id").val(),
		function(data) {
			if (!$("#input_user_id").val()) {
				alert('请输入用户编号(UID)');
			}
			if (!data) {
				alert('无此用户');
			};
		}
	);
});
</script>