<include file="Public:head"/>

<div id="wrap">
<include file="Public:top"/>
    <div class="mainContainer container-fluid">
      <div class="row-fluid">
		<include file="Public:sidebar"/>
        <div class="span9">
          <div class="row-fluid">
            <h2>发货确认</h2>
            <include file="formReceive"/>
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
	<div id="push"><!--FOR STICK FOOTER--></div>
    </div><!--/.fluid-container-->
</div>
<include file="Public:footer"/>
<include file="Public:javascript"/>